@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Atualizar Laboratório";
}

<div class="text">
    <h1 class="display-4">Atualizar Laboratório</h1>
    <hr>
       
</div>
<div class="container">
    <form action="Update" method="POST">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" name="id" id="id" class="form-control" value="@Model.Id" readonly>
        </div>  
        <div class="form-group" >
            <label for="ram">Ram</label>
            <input type="text" name="ram" id="ram" class="form-control" value="@Model.Ram" required>   
        </div> 
        <div class="form-group" >
            <label for="processor">Processador</label>
            <input type="text" name="processor" id="processor" class="form-control" value="@Model.Processor" required>
        </div> 
        
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>