@{

    ViewData["Title"] = "Cadastro";

}

<div class="text-center">
    <h1 class="display-4">Cadastrar computadores</h1>
</div>

<div class="container">
    <div class="con">
        <div class="right-side">
            <br>
            <form action="Create" method="POST">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" name="id" id="id" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="number">Ram</label>
                    <input type="text" name="ram" id="ram" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="name">Processador</label>
                    <input type="text" name="processor" id="processor" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>