@model IEnumerable<MvcLabManager.Models.Computer>


@{
    ViewData["Title"] = "Computadores";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum computador cadastrado</p>
     <p><a class="asd" asp-area="" asp-controller="Computer" asp-action="Cadastro"><strong>Cadastrar computador</strong></a></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ram</th>
                <th>Processador</th>
            </tr>
        </thead>
        <body>
            @foreach(var computer in Model)
            {
                <tr>
                    <td>@computer.Id</td>
                    <td>@computer.Ram</td>
                    <td>@computer.Processor</td>
                    <td>
                        <a class = "btn btn-primary btn-sm"href ="/Computer/Show/@computer.Id">Ver</a>
                        <a class = "btn btn-primary btn-sm"href ="/Computer/Update/@computer.Id">Atualizar</a>
                        <a class = "btn btn-primary btn-sm"href ="/Computer/Delete/@computer.Id">Deletar</a>
                    </td>
                </tr>
            }
        </body>
    </table>
                
}