@{

    ViewData["Title"] = "Cadastro";

}

<div class="text-center">
    <h1 class="display-4">Cadastrar computadores</h1>
</div>

<div class="container">
    <div class="con">
        <div class="right-side">
            <br>
            <form action="Create" method="POST">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" name="id" id="id" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="number">Número</label>
                    <input type="text" name="number" id="number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="sector">Bloco</label>
                    <input type="text" name="sector" id="sector" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>