
@{
    ViewData["Title"] = "Deletar laboratório";
    var id = ViewData["id"];
}

<div class="text-center">
    <h1 class="display-4">O Laboratório @id foi deletado com sucesso!</h1>
   
</div>